body {
	user-select:none;
}

/* Desktop
 */
div.desktop {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#c0c0c0;
	min-width:375px;
	min-height:350px;
	background-size:cover;
	background-position:center;
}

/* Icons
 */

div.icons {
	position:absolute;
	top:0;
	right:0;
	bottom:36px;
	left:0;
	overflow:hidden;
}

div.icons div.icon {
	position:absolute;
	padding:15px 45px;
}

div.icons div.icon span {
	color:#ffffff;
	text-shadow:#404040 1px 1px 3px,
	            #404040 1px -1px 3px,
	            #404040 -1px 1px 3px,
	            #404040 -1px -1px 3px;
}

div.icons div.icon span:nth-of-type(2) {
	display:none;
}

div.icons div.ui-draggable-dragging {
	border:1px solid #d0d0f0;
	background-color:rgba(160, 160, 240, 0.5);
}

div.icons div.ui-draggable-dragging {
	z-index:5;
}
