/* Icon
 */
div.icon {
	width:50px;
	box-sizing:content-box;
}

div.icon img {
	width:inherit;
	height:50px;
	margin-bottom:5px;
}

div.icon span {
	font-size:12px;
	text-align:center;
	display:block;
	width:70px;
	overflow:hidden;
	text-overflow:ellipsis;
	max-height:50px;
	margin-left:-10px;
}

div.icon:hover span {
	max-height:70px;
}

/* File dialog
 */
div.file_dialog {
	position:relative;
	height:100%;
}

div.file_dialog button.up {
	position:absolute;
	top:0;
	right:0;
	left:0;
	width:25px;
	height:25px;
}

div.file_dialog div.path {
	border:1px solid #cccccc;
	position:absolute;
	top:0;
	right:0;
	left:35px;
	height:25px;
	padding:2px 5px;
	cursor:default;
}

div.file_dialog div.filename {
	position:absolute;
	right:0;
	bottom:0;
	left:210px;
}

/* Directory tree
 */
div.file_dialog div.directories {
	border:1px solid #cccccc;
	position:absolute;
	top:35px;
	bottom:45px;
	left:0;
	width:200px;
	padding:5px;
	overflow:auto;
}

div.file_dialog div.directories div.directory {
	padding:1px 5px;
	cursor:default;
	padding-left:15px;
	text-indent:-10px;
}

div.file_dialog div.directories div.directory img {
	width:14px;
	height:14px;
	position:relative;
	left:-4px;
	top:-2px;
	margin-right:2px;
}

div.file_dialog div.directories div.directory:hover {
	background-color:#e8e8f4;
}

/* Files list
 */
div.file_dialog div.files {
	border:1px solid #cccccc;
	position:absolute;
	top:35px;
	right:0;
	bottom:45px;
	left:210px;
	overflow:auto;
}

div.file_dialog div.files div.icon {
	margin:25px 15px 0 25px;
	height:100px;
	float:left;
}

/* Buttons
 */
div.file_dialog div.btn-group {
	position:absolute;
	bottom:0;
	left:0;
	width:200px;
}

div.file_dialog div.btn-group input {
	width:50%;
}
